@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .arrow svg path {
    stroke: var(--normal);
  }
  .arrow:hover svg path {
    stroke: var(--hover);
  }
}
  
* {
  outline: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  color: #000000;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'liga', 'kern';
  -webkit-font-feature-settings: 'liga', 'kern';
  -moz-font-feature-settings: 'liga', 'kern';
  line-height: 1.43;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 100vw !important;
}
